/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto:wght@300&family=Shadows+Into+Light&display=swap');
body {
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}


/* header styling begin */

.search-box-container {
    float: right;
}

#header-2-link,
.logo-link {
    text-decoration-line: none;
    color: black;
}

.location {
    float: right;
}

.logo-link {
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 900;
    font-size: 1.5rem;
}


/* header styling end */


/* all category section */

.category {
    text-decoration: none;
    color: black;
    display: block;
}

#allcategory-image {
    align-items: flex-end;
    margin-left: 50px;
}

.category {
    align-items: center;
    border-bottom: solid 0.5px rgb(116, 115, 115);
    font-weight: 350;
    line-height: 3.0rem;
}

.allcart {
    padding: 10px;
    margin-left: 0px !important;
}

#item-nos {
    float: right;
    border-radius: 50px;
    background-color: grey;
    color: white;
    font-size: 1.0em;
}

.catgry {
    box-shadow: 0px 5px 4px 4px rgb(201, 200, 200)
}


/* hero section end */


/* 
#card-button,
.card-text,
.card-title {
    text-align: center;
    justify-items: center;
} */

.image {
    align-items: center;
}


/* #item {
    box-shadow: -3px -1px 8px 0.5px rgb(0 0 0/0.2)
}
 */


/* 
#p {
    line-height: 0.8rem;
} */

.featured {
    padding: 2px;
    width: 24%;
    text-align: center;
}